@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Kode Mono", monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
}

.display {
    flex: 0.16;
}

.display p {
    text-align: right;
    font-size: 70px;
    background-color: lightsalmon;
}

.button-array {
    flex: 0.84;
    display: flex;
    flex-wrap: wrap;
}

.button-array button {
    width: 75px;
    border: 1px solid black;
    font-size: 22px;
}

.button-array button:hover {
    background-color: aliceblue;
    color: black;
}

.operator, .equal-button {
    background-color: olivedrab;
    color: white;
}

.ac-button, .toggle-negation-button {
    background-color: darkkhaki;
    color: black;
}

.number, .zero, .dot {
    background-color: antiquewhite;
    color: black;
}

.zero {
    flex: 2;
}